@mixin ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-Helvetica {
  font-family: Helvetica;
}

@mixin font-HelveticaStd {
  font-family: Helvetica Neue LT Std;
}
