@mixin ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-Helvetica {
  font-family: Helvetica;
}

@mixin font-HelveticaStd {
  font-family: Helvetica Neue LT Std;
}

@mixin flex-coloumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
